*{
  font-family: "Flexo-Medium",arial,sans-serif;
}


html{
  scroll-behavior: smooth;
  background: url('https://pm1.narvii.com/6165/2d5ad5cf7cfe05a19b3023d83807ec8cd880a3df_hq.jpg') ;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.hero{
  background: url('https://s3.amazonaws.com/prod-media.gameinformer.com/styles/full/s3/2018/11/12/21b2e3a1/Key%20Art%20-%20Pok%C3%87mon%20League.jpeg') center;
  background-size: cover;
  padding: 22rem;
  
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);

}

article{
  display: grid;
  place-items: center;
}

h1,h3{
  color:white;
  text-shadow: 8px 8px 7px black;
  text-align: center;
}


@media screen and (min-width: 320px){
  a,h1{
    font-size: calc(16px + 19 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px){
  a,h1{
    font-size: 35px;
  }
}

p{
  color: white;
  text-shadow: 6px 6px 8px black;
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
}



a{
  text-decoration: none;
  background-color: #313131;
  color:white;
  border-radius: 1rem;
  text-align: center; 
  padding: 1rem;
  opacity: 0.95;
  margin-top: 0.75rem;
  display:inline-block;
  text-shadow: 8px 8px 8px black;
}

.items{
  margin-top: 5rem;
}

.items > ul{
display:grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  list-style: none;
  place-items: stretch;
}

.items > ul > li {
  border: 3px solid #E2E2E2;
  border-radius: .5rem;
  display: grid;
  place-items: center;
}
.items > ul > li > figure{
  max-height: 220px;
  overflow: hidden;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  position: relative;
}

.items > ul > li > figure > img{
  width: 100%;
}

.items > ul > li > figure > figcaption{
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  width: 100%;
}

.items > ul > li > a {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}



.slideShowTitle{
  margin-top: 5rem;
  grid-template-columns: repeat(auto-fit, minMax(350px, 1fr));
  background-color: #313131;
  color: white;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  text-align: center;
  border: 3px solid #E2E2E2;
}

.swiper-container{
  background-color: #313131;
  opacity: 1;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: 3px solid #E2E2E2;
  border-right:3px solid #E2E2E2;
  border-bottom: 3px solid #E2E2E2;
}

[class*='swiper-button']{
  background-color: #313131;
  opacity: 0.5;
  padding: 1rem;
  border-radius: 2rem;
  display:grid;
  place-items: center;
}

[class*='swiper-button']:hover{
  opacity:0.9;
  transition: opacity 0.5s;
}

.swiper-container > .swiper-wrapper > .swiper-slide > img{
  max-height: 18rem;
}

.swiper-slide-prev{
  opacity: 0.3;
}

.swiper-slide-next{
  opacity: 0.3;
}

.pokemonSighting{
  padding: 1rem;
}

.column_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: .5rem;
  align-items: start;
  grid-auto-flow: dense;
}

.column_item{
  border-radius: .2rem;
  background-color: #dfe3e6;
  padding: .5rem;
}

.column_title--wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: .25rem;
}

.column_title--wrapper h2{
  color: #17394d;
  font-weight: 700;
  font-size: .9rem;
  place-self: stretch
}

.column_title--wrapper i{
  text-align: right;
  color: #798d99;
}

.column_item--cta{
  padding: .25rem;
  display: flex;
  color: #798d99;
  align-items: baseline;
}

.column_item--cta i {
  margin-right: .25rem;
}

.card_list{
  display:grid;
  grid-template-rows: auto;
  grid-gap: .5rem;
  margin: .5rem 0;
}

.card_item{
  background-color:white;
  border-radius: .25rem;
  box-shadow: 5px 10px 5px rgba(9, 45, 66,.25);
  padding: .5rem;
}

.card_tag{
  font-size: .75rem;
  padding: .1rem .5rem;
  border-radius: .25rem;
  font-weight: 700;
  color: white;
  margin-bottom: .75rem;
  display:inline-block;
}

.card_tag--rare{
  background-color: rgb(16, 15, 15)
}

.card_tag--flyer{
  background-color: brown
}

.card_tag--fight{
  background-color: rgb(255, 174, 0)
}

.card_tag--eat{
  background-color: rgba(218, 164, 173, 0.811)
}

.card_tag--legend{
  background-color: rgb(16, 138, 172)
}

.card_tag--friendly{
  background-color: rgb(8, 96, 247);
}

.card_tag--cute{
  background-color: rgb(183, 38, 183);
}

.card_tag--draw{
  background-color: rgb(208, 193, 169);
}

.card_tag--danger{
  background-color: rgb(255, 1, 1);
}

.card_tag--unstable{
  background-color: rgb(255, 77, 0)
}

.card_tag--approach{
  background-color:#3cc797cb;
}

.card_title{
  color:#17395d;
  margin-bottom: .75rem;
}

.card_actions{
  display:flex;
  align-items: start;
}

.card_actions--wrapper i {
  margin-right: .5rem;
}

.pokemonSighting ul{
  list-style: none;
}

.sightingTitle{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  place-items: center;
  margin-top: 5rem;
}

.sightingTitle figure {
  position:relative;
  
}

.sightingTitle figure img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.sightingTitle figure figcaption{
  position: absolute;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  width: 100%;
}

.card_item img{
  max-width: 100%;
}

ol{
  list-style-type: none;
}

